<div id="" *ngFor="let post of friendlyPosts">
  <div class="" style="margin-bottom: 10px">
    <span>Post key: </span>{{post.$key}}
    <!-- <img src="" alt=""> -->
    <div [ngStyle]="{'background-image': 'url(' + post.author.profile_picture + ')', 'width': '30px', 'height': '30px',  'background-size': 'cover' }"></div>
    <div>{{post.author.full_name}}</div>
    <div>{{post.timestamp}}</div>
    <div class="mfp-image" [style.background]="getBackgroundImage(post.thumb_url)">hello</div>
    <fp-like [postKey]="post.$key"></fp-like>
</div>


  <!-- <fp-comments [postKey]="post.$key"></fp-comments> -->
</div>

<hr>
<div id="" class="">
  <a md-raised-button (click)="addNextPage()">
    next page
    </a>
</div>


<!-- <md-card class="">
  <md-card-header>
    <a md-button>

    </a>
  </md-card-header>
</md-card> -->
