
<div id="">

    <!-- <div class="">{{currentFile}}</div>
    <div class="">preview image: {{previewImage}}</div> -->
    <div class="" style="margin-bottom: 10px">

        <!-- <img src="" alt=""> -->
        <div [ngStyle]="{'background-image': 'url(' + previewImage + ')', 'width': '200px', 'height': '200px',  'background-size': 'cover' }"></div>

    </div>

    <form #captionForm="ngForm" (ngSubmit)="uploadPic(captionForm.value)">
        <input name="imageCaption" ngModel placeholder="Enter text.">
        <button type="submit">Uplad Pic</button>
    </form>


  <!-- <fp-comments [postKey]="post.$key"></fp-comments> -->
</div>
