<!--The content below is only a placeholder and can be replaced.-->


<div fxLayout="column" style="background-color: #aaa;">


  <fp-splash [splashIt]="splashShow"></fp-splash>


  <header>
    <div class="fp-site-width">

      <div fxLayout="row" fxLayoutAlign="center center" style="height: 64px">
        <div fxFlex="10" style="text-align: center;">
        <a [routerLink]="['home']">Home</a>
        </div>
        <div fxFlex="10" style="text-align: center;">
          <a routerLink="">Feed</a>
        </div>
        <div fxFlex="10" style="text-align: center;">User</div>
        <div fxFlex="10" style="text-align: center;">
          <a [routerLink]="['/user', currentUserUid]">My Profile</a></div>
        <div fxFlex="10" style="text-align: center;">
          <a mat-raised-button (click)="logIn()">LogIn</a>
        </div>
        <div fxFlex="10" style="text-align: center;">
          <a mat-raised-button (click)="logOut()">LogOut</a>
        </div>
        <div fxFlex="10" style="text-align: center;">
          <a mat-raised-button (click)="getCurrentUserUid()">Check Current User</a>
        </div>

      </div>
      <!-- second row of header -->

      <div class="">
          <div fxFlex="10" style="text-align: center;">
            <a mat-raised-button (click)="deleteUserComments()">Delete Comments</a>
          </div>
      </div>
      <div class="">
          <div fxFlex="10" style="text-align: center;">
            <a mat-raised-button (click)="deleteUserLikes()">Delete Likes</a>
          </div>
      </div>
      <div class="">
          <div fxFlex="10" style="text-align: center;">
            <a mat-raised-button (click)="deleteUserFeed()">Delete Feed</a>
          </div>
      </div>
      <!--  third row for development purposes -->
      <div class="row2ofheader">
        <div fxLayout="row" fxLayoutAlign="center center" style="height: 64px">
          <div fxFlex="25" style="text-align: center;">
            <a mat-raised-button (click)="triggerInputFile()">Add Pic</a>
          </div>
          <div fxFlex="25" style="text-align: center;">
            <input #picInput type="file" (change)="readPicture($event)">
            <!-- <a mat-raised-button ngfSelect>Check Current User</a> -->
          </div>

          <div fxFlex="25" style="text-align: center;">
              <fp-app-searchbox></fp-app-searchbox>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="fp-site-width">
      <router-outlet></router-outlet>
    </div>
  </main>

</div>
