

<p>
  searchbox works!
</p>


<mat-form-field>
   <input matInput [formControl]="searchControl" [matAutocomplete]="auto">
</mat-form-field>
<!-- <div class="">
{{searchResults | json}}
</div> -->
<mat-autocomplete #auto="matAutocomplete">


   <mat-option *ngFor="let result of searchResults" (onSelectionChange)="routeToUserSelected(result.key)" [value]="result.value.full_name">
       <a [routerLink]="['user', result.key]">
      {{ result.value.full_name }}
      </a>
   </mat-option>

</mat-autocomplete>
